<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19345227825-g2hf5pqiibks2irlde7lr2u3iutmea6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19345227825-g2hf5pqiibks2irlde7lr2u3iutmea6a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>19345227825-gbjnj3hvekm3icg0gt1r4ah1lq0mh5kk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2NqINHJLS7BHpfWobXeZOpkGG-y9DuY8</string>
	<key>GCM_SENDER_ID</key>
	<string>19345227825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rosssh.telegram</string>
	<key>PROJECT_ID</key>
	<string>telegram-f6495</string>
	<key>STORAGE_BUCKET</key>
	<string>telegram-f6495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19345227825:ios:3f3a1e29849ca963639510</string>
</dict>
</plist>